@charset "utf-8";
/* CSS Document */

@charset
"utf-8"
;
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

#nav {
    width: 100%;
    background: #0E1E22 url('../images/contact_header_bg.png') repeat-x center center;

    height: 70px;
}

#nav_container {
    width: 960px;
    margin: 0 auto;
}

#nav_container img {
    float: left;
}

ul {
    list-style-type: none;
    float: right;
    width: 800px;
    margin: 24px 0 0 20px;

}

li {
    float: left;
    margin: 0 15px 0 0;
    border-bottom: 18px;

}

li a {
    color: #999;
    text-decoration: none;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

li a:hover {
    border-bottom: #7c8f94 3px solid;
}

#container {
    width: 960px;
    margin: 0 auto;
}

.header {
    float: left;
    background-image: url(../images/caption_bg.png);
    width: 960px;
    height: 74px;
}

.header h1 {
    float: left;
    color: #464646;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 0 5px 0 5px;
    line-height: 70px;
    font-size: 30px;
}

.breadcrumb {
    float: left;
    font-size: 12px;
    color: #CCC;
    padding: 15px 0px 0px 15px;
}

.breadcrumb a {
    text-decoration: none;
    color: #628EA3;
    padding: 15px 0 0 0;
    margin: 5px 0 0 0;
}

.breadcrumb h6 {
    float: left;
    color: #555;
    padding: 30px 0 0 0;
    font-size: 19px;
    font-family: Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
    font-weight: normal;

}
.mainText{
	float:left;
	color: #6E6E6E;
	padding: 20px 0 0 17px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;

}
#third_para a{
	float:left;
	padding: 20px 0 0 0;
	text-decoration:none;
	color:#628EA3;}

#body_container{
	float:left;
	margin:10px 0 0 0;
	width:960px;
}

input{
	background: none repeat scroll 0 0 transparent;
    border: 1px solid #E1E1E1;
    color: #666666;
    font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 7px 5px;
	width:200px;
}

#submit{
	background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(white));
	background: -moz-linear-gradient(top, #EBEBEB, white);
	margin:5px 0 5px 0;
	cursor:pointer;
	width:100px;
}

#captcha{
	width:50px;
}

#table{
	width:430px;
	float:left;
	border-bottom:1px solid #999;
}

#enquiry{
	width: 450px;
	float:left;
	color:#6E6E6E;
	font-size:12px;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
	font-size:13px;
	padding: 35px 0 0 0;
	}
#enquiry a{

	text-decoration:none;
	color: #628EA3;}
#number h2{
	float:left;
	padding: 30px 0 0 0;
	font-size:24px;
	color: #464646;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
	font-weight:normal;}

#number h3{
	width:450px;
	float:left;
	padding: 60px 0 0 0;
	font-size:18px;
	color: #464646;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
	font-weight:normal;
}
#number h4{
	width:450px;
	float:left;
	padding:30px 0 0 0;
	font-weight:bold;
	font-size:14px;
	color:#6E6E6E;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
	}
#number h5{
	width:450px;
	float:left;
	padding:30px 0 0 0;
	font-weight:normal;
	font-size:13px;
	color:#464646;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;}
#number h6{
		width:450px;
	float:left;
	padding:30px 0 0 0;
	font-weight:normal;
	font-size:18px;
	color:#464646;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
}
#number p{
	width:450px;
	float:left;
	padding:30px 0 70px 0;
	font-weight:normal;
	font-size:14px;
	color:#464646;
	font-family: Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
}

#table2_container {
	float: right;
	width:450px;
	margin: 10px 0 0 10px;

	}


#form{
	float:left;
	width:430px;
	margin: 30px 0 0 0;
	border-bottom:1px solid #999;
	}

#form p{
	float:left;
	padding: 05px 0 0 0;
	font-family:Helvetica, Arial, 'Lucida Grande',Verdana,sans-serif;
	color: #666;
	font-weight: bold;
	font-size:13px;
	}
#form span{
	font-size:12px;
	font-weight:normal;
	}


#footer{
	width:100%;
	/*background: #0E1E22 url('../images/footer_bg.png') no-repeat top center;*/
	height:150px;
	float:left;
	margin-top:40px;
}

#footer #right{
	float:left;
	width:100%;
	background: #0E1E22 url('../images/footer_bg.png') no-repeat top center;
	height:30px;
	margin:100px 0 0 0;
	color:#fff;
	padding:20px 0 0 0;
}

#footer #right #container{
	width:960px;
	margin:0 auto;
}

#footer a {
	color: #fff;
	text-decoration:none;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	}

#right span{
    color:#CCC;
    font-size:13px;
    margin:10px 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
}

.clearfooter {
    height: 150px;
    clear: both;
}

.main-h3 {
    color: #464646;
    /*float: left;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    padding: 0 5px;
    margin-left: 8px;
}
.page-main-img {
    margin-left: 13px;
    margin-top: 10px;
}

.container-border {
    border: 1px solid #EBEBEB;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #EBEBEB;
    padding: 15px 15px 40px 15px;
}
#contact-fields {
    margin-left: 150px;
}
.contact-form  label{
    display: block;
}

.contact-form input {
    width: 300px;
}

.enquiry, .enquiry-form {
    float: left;
    color: #6E6E6E;
    font-family: Helvetica,Arial,'Lucida Grande',Verdana,sans-serif;
    font-size: 13px;
}
.enquiry-form label {
    font-weight: bold;
    margin: 5px 0 2px 0;
}

.enquiry a {
    color: #628EA3;
    text-decoration: none;
}

#address {
    margin-top: 10px;
}
.medium-line-height {
    line-height: 25px;
}

.small-line-height {
    line-height: 20px;
}

#contactBtn {
    width: 100px;
    margin-top: 10px;
}

.message {
    width: 310px;
    height: 100px;
    border: 1px solid #E1E1E1;
}

.img-border {
    border: 5px ridge silver;
}

.clear {
    clear: both;
    height: 10px;
}

#product-navigation {
    float: left;

}
#product-navigation ul {
    width: 180px!important;
    padding: 0 15px;!important;
    margin: 0;

}

#product-navigation ul li {
    float: none!important;
    line-height: 35px;
    padding: 0;
    border-bottom: 1px solid silver;
}

#product-navigation ul li a {
    color: #6E6E6E;
    font-family: Helvetica,Arial,'Lucida Grande',Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;

}
#product-navigation li a:hover {
    border-bottom: none;
}
#product-main-text {
    float: left;
    width: 750px;
}
#product-main-text p {
    margin-top: 5px;
    color: #6E6E6E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
}

#product-main-text h3 {
    color: #464646;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    padding: 0;
}
